body{ 
    
    background-image: url(imagem/fundo.jpg) ;
background-size: cover;
}

.texto1{
    background-color: rgba(240, 248, 255, 0.789);
    width: 1500px;
    height: 55px;
    text-align: center;
}
.log{
    margin-top: 90px;
}

.Texto2 {
    background-color:rgba(240, 248, 255, 0.789); 
    width: 1500px;
    height: 55px;
    text-align: center;
}



div {
     text-align: center;
}

img{
    width: 400px;
    height: 350px;
}
div.PRODUTOS {
    text-align: right;

}
.Texto2{
    text-align: center;
}
img .tonico {
width: 90px;
height: 50px;
}
.tônico{
    width: 110px;
    height: 300px;
}
.Máscara{
    width: 250px;
    height: 300px;
}
.produto{
    display: table;
    text-align: center;
    border-top: none;
    padding-top: 0;
    float: inline-start;
}
.shampoo {
    bottom: 3350px;
    left: 5440px;
}
.ju{
    margin-top: 90px;
}
.lo {
     margin-top: 90px;
}
.yt{
    margin-top: 90px;
}
.lk{
    margin-top: 90px;
}
.uh{
    
}