body {
   .escola {
    margin-top: 57px;
   }
   .texto2 {
    margin-top: 150px;
    text-align: center;
   }
   .texto3 {
    text-align: center;
   }
   .contemporânea {
   }
    margin-top: 57px;
    background-color: rgb(242, 227, 192);
    .texto3 {
        margin-top: 100px;
    }
 .Tbal {
    margin-top: 50px;
    text-align: justify;
   
 }
 .pl {
    text-align: justify;
 }
 .yu {
    text-align: justify;
 }
  .ru {
    text-align: justify;
  }
  
  




















}

